<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>altonegen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>bsincgen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>makehrtf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>openal-info.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>openal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test-common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>201D2010C79347D892A4FF31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E0B2229A5A4A6CB3F5A5BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7113D09572094AF0B12F2BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FAA60F9765A4045ADF041A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>919A547ADB444CA1AE082416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A3498C7BEE24D8CB89350CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DFAAE1025084A2FAF3FB56B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6543AC2C15D450C965CF31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C81592C0E36D4ABEB5A657A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F880EC11E1B74B79867B539E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
